---
import { Image } from 'astro:assets';
import Background from "@parts/background";

const { image, video, youtube, caption, zoom, reverseCaption, background, ...args } = Astro.props

---

<style define:vars={{zoom: zoom?.zoom, x: `${zoom?.x}%`, y: `${zoom?.y}%`}}>
	figure {
		height: 100%;
		padding-top: 2vh;
		margin: 0;
		display: grid;
		width: 100%;
		max-width: 90vw;
		grid-template-rows: 1fr max-content;
		justify-self: stretch;
		align-self: stretch;
		overflow: hidden;

		&[data-reversecaption] {
			& figcaption {
				order: -1;
			}
		}
	}

	div {
		max-height: 100%;
		overflow: hidden;

		&:global(.fragment) {
			& img, & video {
				transition: transform 1s ease-in-out;
				transform: scale(1) translate(0, 0);
			}

			&:global(.current-fragment) {
				& img, & video {
					transform: scale(var(--zoom)) translate(var(--x), var(--y));
				}
			}
		}
	}

	img, video {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	iframe {
		height: calc(100vh - $footer_height - $header_height - 1em);
		width: calc((16/9) * (100vh - $footer_height - $header_height - 1em));
		aspect-ratio: 16/9;
	}

	figcaption {
		font-size: 0.8em;
		padding: 0.4em 0;
	}
</style>

{background && <Background theme={background} />}

<section {...args}>
	<figure data-reversecaption={reverseCaption}>
		<div class={zoom && 'fragment custom'}>
			{image && <Image src={image} loading={'eager'} alt="" />}
			{video &&
				<video data-autoplay>
					<source src={video} type="video/mp4" />	
				</video>
			}
			{youtube &&
				<iframe width="1600" height="900" src={youtube} title={caption} frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen data-preload data-autoplay></iframe>
			}
		</div>
		{caption && <figcaption>{caption}</figcaption>}
	</figure>
	<slot />
</section>