---
import { Image } from 'astro:assets';

const { image, video, youtube, caption, ...args } = Astro.props

---

<style>
	figure {
		height: 100%;
		padding-top: 2vh;
		margin: 0;
		display: grid;
		width: 100%;
		max-width: 90vw;
		grid-template-rows: 1fr max-content;
		justify-self: stretch;
		align-self: stretch;
		overflow: hidden;
	}

	div {
		max-height: 100%;
		overflow: hidden;
	}

	img, video {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	iframe {
		height: calc(100vh - $footer_height - $header_height - 1em);
		width: calc((16/9) * (100vh - $footer_height - $header_height - 1em));
		aspect-ratio: 16/9;
	}

	figcaption {
		font-size: 0.8em;
		padding: 0.4em 0;
	}
</style>

<section {...args}>
	<figure>
		<div>
			{image && <Image src={image} loading={'eager'} alt="" />}
			{video &&
				<video data-autoplay>
					<source src={video} type="video/mp4" />	
				</video>
			}
			{youtube &&
				<iframe width="1600" height="900" src={youtube} title={caption} frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen data-preload data-autoplay></iframe>
			}
		</div>
		{caption && <figcaption>{caption}</figcaption>}
	</figure>
	<slot />
</section>